.nav-cont {
  align-items: center;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 30%;
  margin: auto;
  }
  
  .home-btn { grid-area: 1 / 1 / 2 / 2; }
  .about-btn { grid-area: 1 / 2 / 2 / 3; }
  .port-btn { grid-area: 1 / 3 / 2 / 4; }
  .blog-btn { grid-area: 1 / 4 / 2 / 5; }
  .contact-btn { grid-area: 1 / 5 / 2 / 6; }